@media screen and (max-width: 1250px) {
  header .sort {
    width: 65%;
  }
  header .sort .search_box input {
    width: 150px;
  }
  header .sort .nav_btn {
    width: 50%;
  }
  .header_wrapper a {
    font-size: 25px;
    left: 40px;
    top: 40px;
  }
}

@media screen and (min-width: 980px) {
  .sort {
    display: flex!important;
  }
}

@media screen and (max-width: 980px) {
  header .sort {
    flex-direction: column;
    height: 250px;
    position: fixed;
    left: 0px;
    top: 100px;
    width: 200px;
    background: #F5F5F5;
    display: none;
  }
  header .sort .nav_btn {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  header .sort .nav_btn button {
    width: 100%;
    font-size: 20px;
  }
  header .sort .sort_box {
    display: none;
  }
  header .search_box_mobile {
    display: block;
  }
  .sort div:first-child input {
    background: transparent;
    display: none;
  }
  .sort div:first-child input::placeholder {
    text-align: center;
  }
  .header_wrapper a {
    position: initial;
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile_menu_sort_box {
    display: block;
  }
  .mobile_menu_sort_box option {
    font-size: 20px;
  }
  .mobile_menu_button {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  main .shoes_counter {
    position: static;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .main_container_wrapper {
    padding-top: 0px;
  }
  .main_container_wrapper div {
    margin-top: 10px;
  }
  .hidden_img_container_wrapper {
    width: 450px;
    height: 400px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -225px;
    /* Negative half of height. */
    margin-left: -225px;
    /* Negative half of width. */
    display: none;
    z-index: 130;
    background: transparent;
    text-align: center;
  }
  .header_wrapper a {
    font-size: 18px;
  }
  .mobile_menu_sort_box {
    font-size: 20px;
    margin-right: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .mobile_menu_sort_box select {
    width: 100px;
    height: 40px;
    font-family: inherit;
  }
  header .sort {
    flex-direction: column;
    height: 300px;
    position: fixed;
    left: 0px;
    top: 100px;
    width: 100%;
    background: #F5F5F5;
    display: none;
  }

  header .search_box_mobile input {
    width: 100px;
  }
  main .shoes_counter_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  main .shoes_counter_wrapper .shoes_counter {
    order: 1;
  }
  .main_container_wrapper {
    margin-top: 30px;
  }
  .main_container_wrapper div {
    width: 40%;
    height: 35%;
    margin: 0px;
    margin-top: 35px;
  }

}
@media screen and (max-width: 600px) and (orientation : landscape){
  .hidden_img_container_wrapper {
    width: 450px;
    height: 400px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -150px;
    /* Negative half of height. */
    margin-left: -225px;
    /* Negative half of width. */
    display: none;
    z-index: 130;
    background: transparent;
    text-align: center;
  }

}
@media screen and (max-width: 450px) {
  .hidden_img_container_wrapper {
    width: 400px;
    height:300px;
    margin-top: -200px;
    margin-left: -200px;
}


  header .search_box_mobile input {
    width: 80px;
    font-size: 15px;
    padding-left: 5px;
    margin-right: 15px;
  }
  .mobile_menu_button{
    margin-left: 15px;

  }
  main .shoes_counter_wrapper .shoes_counter{

    font-size: 15px;
    font-weight: bold;
  }
}
